@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-text {
  font-weight: 700;
  text-decoration: underline;
}

.font-awesome {
  color: var(--bs-light);
  cursor: pointer;
}

.font-awesome:hover {
  color: var(--bs-indigo);
}

.font-awesome-active {
  color: var(--bs-warning);
}

.video-div {
  border: 3px solid var(--bs-light);
  border-radius: 4px;
  height: 600px;
  width: 1000px;
}

.waiting-div {
  height: 600px;
  width: 1000px;
}

.list-group-item {
  font-weight: bold;
}
